/* * {
  border: 1px red solid;
} */

html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

/* start page css */

#start {
  height: 100vh;
  background-size: cover;
  text-align: center;
  background: black;
  font-size: 140px;
  background-color: black;
}

#start a {
  text-decoration: none;
  position: relative;
  top: 35%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 35%;
}

.click-button1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 37%;
  right: 5px;
  font-size: 18px;
  letter-spacing: 3px;
}

.click-button2 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 38%;
  font-size: 20px;
  letter-spacing: 3px;
}

.pronounce {
  position: relative;
  top: 38%;

  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  color: white;
}

/* nav bar css */

#nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: black;
  color: black;
  z-index: 1;
}

#nav ul {
  width: 100vw;
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: black;
}

#nav li {
  display: flex;
  justify-content: space-around;
  margin:0;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  background-color: black;

}

#nav a {
  text-decoration: none;
	font-size: 30px;
	line-height: 1.3em;
  color: white;
}


/* content css */

#project-page {
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: black;
  gap: 30px;
}


#project-page a {
  text-decoration: underline;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

#project-page img {
  width: 500px;
  z-index: 0;
  border: 5px grey solid;
  border-radius: 10px;
  cursor: pointer;
}

#project-page video {
  width: 500px;
  z-index: 0;
  border: 5px grey solid;
  border-radius: 10px;
  cursor: pointer;
}

#project-page video:hover {
  transition-duration: 0.5s;
  width: 520px;
  z-index: 0;
  border: 5px grey solid;
  border-radius: 10px;
  cursor: pointer;
}

#project-page img:hover {
  transition-duration: 0.5s;
  width: 520px;
  z-index: 0;
  border: 5px grey solid;
  border-radius: 10px;
  cursor: pointer;
}

.project-one {
  margin-bottom: 16px;
}

.project-four {
  margin-bottom: 16px;
}

#project-page button {
  background-color: black;
  border: white solid 0.2px;
}


#project-page p{
  width: 500px;
  z-index: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
  text-align: center;
  /* position: relative;
  left: 2.5vw; */
  line-height: 1.5em;
}

#project-page a{
  text-decoration: none;
  
}

#resume-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: black;
  gap: 20vw;
}


.click-to-view {
  position: relative;
  bottom: 660px;
  width: 450px;
  height: 640px;
  font-size: 2em;
  font-weight: 400;
  color: transparent;
}

.click-to-view:hover {
  position: relative;
  bottom: 660px;
  width: 450px;
  height: 640px;
  transition-duration: 0.5s;
  font-size: 2em;
  font-weight: 500;
  color: #000000;

}
.click-to-view p{
  position: relative;
  top: 270px;
}
.resume iframe{
  margin-top: 15vh;
  width: 450px;
  height: 640px;
}

.resume a {
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
  text-align: center;
}

.skills {
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  color: white;
  width: 300px;
  position: relative;
  bottom: 240px;
}

.skills i{
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;

}

.link p {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  position: relative;
  top: 3vw;
}

#bio-page {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  gap:10px;
}

.bio-div{
  width: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: wrap;
  flex-wrap: wrap;

}

.bio-div2{
  width: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}

#bio-page img {
  width: 25vh;
  position: relative;
}

#bio-page p {
  width: 30vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

#fun-page {
  padding-top: 5vh;

  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

.fun-carousel-container {
  display: flex;
  justify-content: space-around;
	width: 60%;
  height: 65%;
  position: relative;

}

.fun-img-box {
  display: flex;
  justify-content: center;
	background: #000000;
	padding: 10px;

}

.fun-img-box img {
	display: none;
  border: 5px solid white;
  border-radius: 10px;
}

.fun-img-box img:first-of-type {
	display: block;
}

.fun-button {
	align-self: center;
	background: #FFFFFF;
  padding: 20px;
	border-radius: 50%;
	text-align: center;
}

.fun-button:hover {
	cursor: pointer;
	color: red;
}

.fun-text {
  display: flex;
  justify-content: space-around;
  margin: 0;
  color: white;
  position: relative;
  bottom: 12vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.fun-text p{
  width: 490px;
  text-align: justify;
}


.icons {
  position: fixed;
  gap: 0.5vw;
  bottom: 5px;
  right: 1vw;
  z-index: 1;
}

.icons img {
  width: 2vw;
  /* padding-top: 2px; */
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
}
  
.footer p {
  color: white;
  text-align: center;
  width: 100%;
  height: 2.3rem;   
  position: relative;
  bottom: 0;
  letter-spacing: 1px;
  
}

.footer a {
  text-decoration: none;
  color: white;
}





/* mobile - samsung / iphone / other tablets working for now*/


@media screen and (max-width: 600px) {

  #start {
    height: 100vh;
    background-size: cover;
    text-align: center;
    background: black;
    font-size: 60px;
  }

  #start p {
    text-decoration: none;
    position: relative;
    top: 37%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    color: white;
  }

  .title {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35%;
  }

  .click-button1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;
    font-size: 14px;
  }

  .click-button2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;
    font-size: 14px;
  }

  #start a {
    text-decoration: none;
    position: relative;
    top: 35%;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }


  #nav {
    position: sticky;
    top: 0;
    /* bottom: 0; */
    text-align: center;
    padding: 0;
    background-color: black;
    color: black;
    z-index: 1
  }

  #nav ul {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 0;
}

  #nav li {
    margin: 0;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }

  #nav a {
    text-decoration: none;
  	font-size: 20px;
  	/* line-height: 1.3em; */
    color: white;
  }

  #content-container {
    height: 100vh;
  }

  #bio-page {
    display: flex;
    justify-content:space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 100vh;
    background-color: black;
    gap:5px
  }

  .bio-div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    margin-left: 10px;

  }

  .bio-div2{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 10px;

  }

  #bio-page img {
    width: 40%;
    position: relative;
  }

  #bio-page p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
  }

  #fun-page {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    background-color: black;
  }

  .fun-text {
    width: 300px;
  }

  .fun-carousel-container {

    display: flex;
    justify-content: center;
    width: 90vw;
    height: 40%;
    position: relative;
    bottom: 10%;
  }

  .fun-img-box {
    display: flex;
    justify-content: center;
  	background: #000000;
  	padding: 10px;
    
  }

  .fun-img-box img {
  	display: none;
    width: 50vw;
    height: 50vw;
    border: 5px solid white;
    align-self: center;
  }

  .fun-img-box img:first-of-type {
  	display: block;
  }

  .fun-button {
  	align-self: center;
  	background: #FFFFFF;
    padding: 10px;
  	border-radius: 50%;
  	text-align: center;
  }

  .fun-button:hover {
  	cursor: pointer;
  	color: red;
  }

  .fun-text {
    display: flex;
    justify-content: space-around;
    /* padding-left: 20vw;
    padding-right: 20vw; */
    margin: 0;
    color: white;
    position: relative;
    bottom: 15vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
  }

  #project-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 170vh;
    background-color: black;
    gap: 20px;
  
  }
  


  #project-page img{
    width: 300px;
    z-index: 0;
    border: 5px grey solid;
    border-radius: 10px;
    cursor: pointer;
  }



  #project-page video{
    width: 300px;
    z-index: 0;
    border: 5px grey solid;
    border-radius: 10px;
    cursor: pointer;
  }
  #project-page video:hover {
    transition-duration: 0.5s;
    width: 320px;
    filter: grayscale(100%);
    z-index: 0;
    border: 5px grey solid;
    border-radius: 10px;
    cursor: pointer;

  }


  #project-page img:hover {
    transition-duration: 0.5s;
    width: 320px;
    filter: grayscale(100%);
    z-index: 0;
    border: 5px grey solid;
    border-radius: 10px;
    cursor: pointer;

  }


  #project-page p {
    width: 300px;
    z-index: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    color: white;
    position: relative;
    left: 0;

  }

  .icons {
    position: fixed;
    gap: 0.5vw;
    bottom: 0;
    right: 1vw;
    z-index: 1;
  }

  .icons img {
    width: 6vw;
  }

  #resume-page {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: black;
    gap: 5vw;
  }
  .resume {
    width: 300px;
    height: 440px;
  }
  .resume iframe{
    display: flex;
    width: 300px;
    height: 440px;
  }
  
  .resume a {
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
  }
  .skills {
    position: relative;
    top: 50px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: white;
    width: 300px;
  }
  
  .skills i{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
  }
  .click-to-view {
    position: relative;
    bottom: 600px;
    width: 300px;
    height: 640px;
    font-size: 2em;
    font-weight: 400;
    color: transparent;
  }
  
  .click-to-view:hover {
    position: relative;
    bottom: 600px;
    width: 300px;
    height: 640px;
    color: black;
    transition-duration: 0.5s;
    font-size: 2em;
    font-weight: 400;
  }
  .click-to-view p{
    position: relative;
    top: 310px;
    
  }

  #project-page a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
  }
  
}

