/* * {
  border: 1px red solid;
} */

html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

/* start page css */

#start {
  height: 100vh;
  background-size: cover;
  text-align: center;
  background: black;
  font-size: 140px;
  background-color: black;
}

#start a {
  text-decoration: none;
  position: relative;
  top: 35%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
}

.click-button1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 37%;
  font-size: 18px;
  letter-spacing: 3px;
}

.click-button2 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 38%;
  font-size: 20px;
  letter-spacing: 3px;
}

.pronounce {
  position: relative;
  top: 38%;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  color: white;
}

/* nav bar css */

#nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: black;
  color: black;
  z-index: 1;
}

#nav ul {
  width: 100vw;
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: black;
}

#nav li {
  display: flex;
  justify-content: space-around;
  margin:0;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  background-color: black;

}

#nav a {
  text-decoration: none;
	font-size: 30px;
	line-height: 1.3em;
  color: white;
}


/* content css */
#home-page {
  height: 100vh;
  background-color: black;
}
#project-page {
  height: 100vh;
  background-color: black;
}
#resume-page {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.resume-text {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: 300px;
  position: relative;
  top: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 20px;
  text-indent: justify;
  text-align: center;
}

.resume{
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
  top: 5%;
}

.resume img {
  position: relative;
}

.resume-text h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#bio-page {
  display: flex;
  justify-content:space-around;
  flex-flow: wrap;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 100vh;
  background-color: black;
}

.bio-div{
  width: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: wrap;
  flex-wrap: wrap;
}

.bio-div2{
  width: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}

#bio-page img {
  width: 25vh;
  position: relative;
}

#bio-page p {
  width: 30vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

#fun-page {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-color: black;
}

.fun-carousel-container {
  display: flex;
  justify-content: space-around;
	width: 60%;
  height: 65%;
  position: relative;
}

.fun-img-box {
  display: flex;
  justify-content: center;
	background: #000000;
	padding: 10px;
}

.fun-img-box img {
	display: none;
  border: 10px solid white;
}

.fun-img-box img:first-of-type {
	display: block;
}

.fun-button {
	align-self: center;
	background: #FFFFFF;
  padding: 20px;
	border-radius: 50%;
	text-align: center;
}

.fun-button:hover {
	cursor: pointer;
	color: red;
}

.fun-text {
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  color: white;
  position: relative;
  bottom: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

/* mobile - samsung / iphone / other tablets working for now*/
@media screen and (max-width: 400px) {

  #start {
    height: 100vh;
    background-size: cover;
    text-align: center;
    background: black;
    font-size: 60px;
  }

  #start p {
    text-decoration: none;
    position: relative;
    top: 37%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    color: white;
  }

  .click-button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35%;
    font-size: 18px;
  }

  #start a {
    text-decoration: none;
    position: relative;
    top: 35%;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }


  #nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 0;
    background-color: black;
    color: black;
  }

  #nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 6px;
  }

  #nav li {
    width: 340px;
    margin: 0;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    gap: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }

  #nav a {
    text-decoration: none;
  	font-size: 16px;
  	/* line-height: 1.3em; */
    color: white;
  }

  #bio-page {
    display: flex;
    justify-content:space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 100vh;
    background-color: black;
  }

  .bio-div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
  }

  .bio-div2{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: flex-start;

  }

  #bio-page img {
    width: 20%;
    position: relative;
  }

  #bio-page p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 12px;
  }


  .fun-carousel-container {
    display: flex;
    justify-content: space-around;
  	width: 250px;
    height: 250px;
    position: relative;
    top: 8%;
  }
  .fun-button {
  	align-self: center;
  	background: #FFFFFF;
    padding: 10px;
    margin: 5px;
  	border-radius: 50%;
  	text-align: center;
  }

  .fun-img-box img {
  	display: none;
    border: 3px solid white;

  }
}

@media screen and (max-width: 550px) {

  #start {
    height: 100vh;
    background-size: cover;
    text-align: center;
    background: black;
    font-size: 60px;
  }

  #start p {
    text-decoration: none;
    position: relative;
    top: 37%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    color: white;
  }

  .click-button1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;
    font-size: 14px;
  }

  .click-button2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;
    font-size: 14px;
  }

  #start a {
    text-decoration: none;
    position: relative;
    top: 35%;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }


  #nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 0;
    background-color: black;
    color: black;
  }

  #nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 6px;
  }

  #nav li {
    width: 480px;
    margin: 0;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    gap: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }

  #nav a {
    text-decoration: none;
  	font-size: 18px;
  	/* line-height: 1.3em; */
    color: white;
  }

  #bio-page {
    display: flex;
    justify-content:space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 100vh;
    background-color: black;
  }

  .bio-div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
  }

  .bio-div2{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: flex-start;

  }

  #bio-page img {
    width: 35%;
    position: relative;
  }

  #bio-page p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16px;
  }


  .fun-carousel-container {
    display: flex;
    justify-content: space-around;
  	width: 250px;
    height: 250px;
    position: relative;
    top: 8%;
  }
  .fun-button {
  	align-self: center;
  	background: #FFFFFF;
    padding: 10px;
    margin: 5px;
  	border-radius: 50%;
  	text-align: center;
  }

  .fun-img-box img {
  	display: none;
    border: 3px solid white;

  }
}

@media screen and (max-width: 390px) {

  #start {
    height: 100vh;
    background-size: cover;
    text-align: center;
    background: black;
    font-size: 60px;
  }

  #start p {
    text-decoration: none;
    position: relative;
    top: 37%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    color: white;
  }

  .click-button1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;
    font-size: 14px;
  }

  .click-button2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;
    font-size: 14px;
  }

  #start a {
    text-decoration: none;
    position: relative;
    top: 35%;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }


  #nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 0;
    background-color: black;
    color: black;
  }

  #nav ul {
    display: inline-block;
    list-style: none;
    margin: 2px;
    padding: 0;
  }

  #nav li {
    width: 380px;
    margin: 0;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    gap: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }

  #nav a {
    text-decoration: none;
  	font-size: 18px;
  	/* line-height: 1.3em; */
    color: white;
  }

  #bio-page {
    display: flex;
    justify-content:space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 100vh;
    background-color: black;
  }

  .bio-div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
  }

  .bio-div2{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: flex-start;

  }

  #bio-page img {
    width: 20%;
    position: relative;
  }

  #bio-page p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 12px;
  }


  .fun-carousel-container {
    display: flex;
    justify-content: space-around;
  	width: 250px;
    height: 250px;
    position: relative;
    top: 8%;
  }
  .fun-button {
  	align-self: center;
  	background: #FFFFFF;
    padding: 10px;
    margin: 5px;
  	border-radius: 50%;
  	text-align: center;
  }

  .fun-img-box img {
  	display: none;
    border: 3px solid white;

  }
}
