/* * {
  border: 1px red solid;
} */



html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;

}



/* start page css */

#start {
  height: 100vh;
  background-size: cover;
  text-align: center;
  background: black;
  font-size: 150px;
  background-color: black;

}


#start a {
  text-decoration: none;
  position: relative;
  top: 35%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
}

.click-button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 35%;
  font-size: 20px;
  letter-spacing: 3px;
}

#start p {
  text-decoration: none;
  position: relative;
  top: 38%;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  color: white;
}

/* nav bar css */

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: black;
  color: black;
  z-index: 1;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: black;

}

#nav li {
  display: inline-block;
  margin:0;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  background-color: black;

}

#nav a {
  text-decoration: none;
	font-size: 30px;
	line-height: 1.3em;
  color: white;
}


/* content css */
#home-page {
  height: 980vh;
  background-color: black;
}
#project-page {
  height: 100vh;
  background-color: black;
}
#resume-page {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.resume-text {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: 300px;
  position: relative;
  bottom: 2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 20px;
  text-indent: justify;
  text-align: center;
}

.resume{
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
  top: 5%;
}

.resume img {
  position: relative;
}

.resume-text h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#bio-page {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-color: black;

}

.bio-text-box {
  color: white;
}

.bio-carousel-container {
	width: 70%;
  height: 70%;
	display: flex;
	justify-content: space-around;
}
.bio-text-box {
	min-width: 80%;
	background: #000000;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #FFFFFF;
}

.bio-text-box p {
	width: 100%;
	border-radius: 10px;
	display: none;
  font-family: 'Montserrat', sans-serif;
}

.bio-text-box p:first-of-type {
	display: block;
}

.bio-button {
	align-self: center;
	background: #FFFFFF;
  padding: 10px;
	border-radius: 50%;
	text-align: center;
}

.bio-button:hover {
	cursor: pointer;
	color: red;
}



#fun-page {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-color: black;

}

.fun-carousel-container {
  display: flex;
  justify-content: space-around;
	width: 70%;
  height: 65%;
  position: relative;
  top: 8%;
}

.fun-img-box {
  display: flex;
  justify-content: center;
	background: #000000;
	padding: 10px;

}

.fun-img-box img {
	display: none;
  border: 10px solid white;

}

.fun-img-box img:first-of-type {
	display: block;
}

.fun-button {
	align-self: center;
	background: #FFFFFF;
  padding: 20px;
	border-radius: 50%;
	text-align: center;
}

.fun-button:hover {
	cursor: pointer;
	color: red;
}

.fun-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
  color: white;
  position: relative;

}

/* mobile - samsung / iphone / other tablets working for now*/
@media screen and (max-width: 600px) {

  #start {
    height: 100vh;
    background-size: cover;
    text-align: center;
    background: black;
    font-size: 100px;
  }

  .click-button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35%;
    font-size: 18px;
  }

  #start a {
    text-decoration: none;
    position: relative;
    top: 35%;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }


  #nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 0;
    background-color: black;
    color: black;
  }

  #nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 8px;
  }

  #nav li {
    width: 350px;
    margin: 0;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    gap: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }

  #nav a {
    text-decoration: none;
  	font-size: 16px;
  	/* line-height: 1.3em; */
    color: white;
  }

  .fun-carousel-container {
    display: flex;
    justify-content: space-around;
  	width: 400px;
    height: 400px;
    position: relative;
    top: 8%;
  }
  .fun-button {
  	align-self: center;
  	background: #FFFFFF;
    padding: 10px;
    margin: 5px;
  	border-radius: 50%;
  	text-align: center;
  }

  .fun-img-box img {
  	display: none;
    border: 3px solid white;

  }
}
